.catalogue {
  .first-catalogue {
    background-image: url("../../assets/catalogue-front.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
   
  }
  .apartment-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
    width: 100%;
    padding-top: 1em;
    #styled-image {
      width: 5%;
      margin: 1%;
      border-radius: 20px;
      border: 0.1px dotted black;
      transition: width 1.5s;
      &:hover {
        width: 15%;
      }
    }
    #left {
      cursor: pointer;
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .description-left-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 150px;
      margin-top: 2.9em;
      h4 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 21px;
        letter-spacing: -0.005em;
        color: #000000;
      }
      h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        line-height: 21px;
        font-size: 50px;
        letter-spacing: -0.005em;
        color: #000000;
      }
    }
    .description-right-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 5%;
      img {
        height: 150px;
        width: 150px;
        cursor: pointer;
      }
      h1 {
        color: #1fb81f;
        cursor: pointer;
      }
    }
  }
}
