.Text {
  h3 {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.015em;

    color: #000000;
  }
  span {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.015em;
  }
}
