.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 10vh;
  width: 100vw;
  padding: 0px 60px;
  .right-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 20em;
    #img2 {
      width: 30px;
    }
    #link {
      text-decoration: none;
      color: black;
    }
  }

  #img1 {
    width: 170px;
    height: 75px;
  }
}
