.signUp-container {
  background-image: url("../../assets/Sign-up.png");
  background-repeat: no-repeat;
  background-position: center;
  
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}
